/.mv
/.vscode
/analise_carteira.py
/COE
/Conversão_arquivos.py
/debug_page_after_error.html
/erro_page_source.html
/export_yfinance.py
/Images.html
/marketing
/page_source.html
/page_source_rolagem_0.html
/Texto_Clientes.xlsx
/Texto_CRM_completo.xlsx
/_CRM
/_tasks_daily